<!DOCTYPE html>
<html>
<head>
    <title>Angular Flask</title>

    {#Loading Libraries and dependencies#}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <script src="static/lib/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
    <script src="static/lib/d3.min.js" charset="utf-8"></script>
    <script src="static/lib/topojson/topojson.js" charset="utf-8"></script>
    <script src="static/lib/jquery-1.11.1.min.js" charset="utf-8"></script>
    <script src="static/lib/datamaps.all.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="static/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/lib/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
	<script src="static/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

    <script src="static/js/app.js" type="text/javascript"></script>

</head>
<body ng-app="sampleApp" ng-controller="MainController">
<div id="container" style="position: relative; width: 1000px; height: 800px;"></div>
<script>

    function initialize($scope)
    {
        console.log($scope)
    }


</script>
</body>
</html>